<ul class="list-unstyled">
    <li><h6 class="left-menu-heading">ACCOUNT SETTINGS</h6></li>
    <router-link :to="'/account#profile'" :style="{ cursor: 'pointer'}" tag="li" class="menu-item text-wrap">
        Profile
    </router-link>
    <router-link :to="'/account#shipping'" :style="{ cursor: 'pointer'}" tag="li" class="menu-item text-wrap">
        Shipping Address
    </router-link>
    <router-link :to="'/account#payment'" :style="{ cursor: 'pointer'}" tag="li" class="menu-item text-wrap">
        Payment Method
    </router-link>

    <li><h6 class="left-menu-heading">MY ORDERS</h6></li>
    <router-link :to="'/orders#current'" :style="{ cursor: 'pointer'}" tag="li" class="menu-item text-wrap">
        Current Orders
    </router-link>
    <router-link :to="'/orders#order'" :style="{ cursor: 'pointer'}" tag="li" class="menu-item text-wrap">
        Order History
    </router-link>
</ul>
